extends jade/layout
block content
  :php
    $car = new Car(get_query_var('car'));
    $loop = $car->get_loop();
    $fill = new Fill();
    $fmt=function($f){return sprintf("%.2f",$f);}
  table
    tr
      th date
      th L
      th km
      th $
      th $ per L
      th L per 100km
      th km per L
      th $ per 100km
    :php
      if($loop->have_posts()): while($loop->have_posts()): $loop->the_post();
    tr 
      td!= php('get_the_date()')
      td!= php('$fmt($fill->get_litres())')
      td!= php('$fmt($fill->get_kilometres())')
      td!= php('$fmt($fill->get_dollars())')
      td!= php('$fmt($fill->get_dollars_per_litre())')
      td!= php('$fmt($fill->get_litres_per_hundred_km())')
      td!= php('$fmt($fill->get_km_per_litre())')
      td!= php('$fmt($fill->get_dollars_per_hundred_km())')
    :php
      endwhile; endif;
